body {
background-color: white;
}

h1{


}

.header{
  position: fixed;
  bottom:8px;
  text-align: center;
  font-size: 5vw;
  text-transform:uppercase;
  font-family: helvetica, arial;
  letter-spacing:-0.05em;
  width:100%;
  text-align: center;
  z-index: 2;
}

.b-blue{
  color: blue;
}

.b-red{
  color: red;
}

.b-yellow{
  color: yellow;
}



.nav{
  width:100%;
  position:fixed;
  top:0px;
  left:0px;
  z-index: 2;
  padding-top: 10px;
}

.button{
font-family: arial;
border:2px solid #000;
border-radius: 10px;
padding: 5px;
cursor:pointer;


}


.main {
 overflow:hidden;
 position: relative;
}

.item{
  float:left;
  width:25%;

}

.show{
  display: block;
}

.hide{
  display: none;
}


.col1of2{
  width:50%;
}

.col3of4{
  width:75%;
}

.col2of5{
  width:40%;
}

.item img {
  max-width:100%;
  padding: 10px;
}
