body{
  background-color:cornsilk;
  width: 800px;
  margin:auto;
  margin-top: 200px;
  font-family: arial;

}


h1{
  text-family:Times;
  border: 2px cornsilk;
  font-size: 70px;
  color:Orange;
  text-shadow: 2px 2px 5px red;

}

h2{
  border: 1px pink;
  background-color: coral;
  width:718px;
}

h3{
  border: 1px pink;
  background-color: coral;
  width:751px;

}
