body{
  background-color:cornsilk;
  width: 840px;
  margin:auto;
  margin-top: 200px;
  font-family: arial;

}


p{

}
h1{ text-family:Times;
  border: 2px cornsilk;
  font-size: 70px;
  color:Orange;
  text-shadow: 2px 2px 5px red;
}
h2{  font-family: Times;
  font-size:28px;

}
h3{font-family: Times;
  font-size: 25px;

}

h4{ font-family: Times;
  font-size:20px;
  border: 2.5px pink;
  background-color: coral;
}

h5{ font-family: Times;
  font-size:20px;
   border: 2.5px pink;
  background-color: coral;

}

h6{  font-family: Times;
  font-size:20px;
  border: 2.5px pink;
  background-color: coral;

}
