body{
  background-color:cornsilk;
  width: 800px;
  margin:auto;
  margin-top: 200px;
  font-family: arial;

}


p{

}
h1{ text-family:Times;
  border: 2px cornsilk;
  font-size: 70px;
  color:Orange;
  text-shadow: 2px 2px 5px red;
}
h2{  font-family: Times;
  font-size:35px;



}
h3{font-family: Times;
  font-size: 23px;


}

h4{ font-family: Times;
  font-size:24px;
  border: 1px pink;
  background-color: coral;
  width:718px;
}

h5{ font-family: Times;
  font-size:24px;
   border: 1px pink;
  background-color: coral;
  width:718px;

}

h6{  font-family: Times;
  font-size:24px;
  border: 1px pink;
  background-color: coral;
  width:718px;

}
