body{
  background-color: cornsilk;
  width: 840px;
  margin:auto;
  margin-top: 200px;

}

blockquote{
  font-family: times;
}
p{
  font-family: Times;
  font-size: 20px;
}
h1{
  text-align: center;
  border: 2px pink;
  background-color: coral;
  font-size: 60px;
  margin: 40px;
  padding: 88px;

}

h2{
  font-family: Times;
  text-transform: uppercase;
  text-align: center;
  border: 2px pink;
  background-color: coral;
  text-align: center;
}

h3{
  font-family: times;
  font-size:18px;
  border: 2px pink;
  background-color: coral;
}

h4{
  font-family:times;
  font-size:18px;
  border: 2px pink;
  background-color: coral;
}

h5{
  font-family:times;
  border: 2px pink;
  background-color: coral;
  font-size:18px;
}
