body{
background-color:white;
width: 1500px;
margin:auto;
margin-top: 0px;
font-family: TIMES;
border: 2px black;
height:1200px;

}


  * {
    cursor: url('../image/hand2.png'), auto;
  }




.cloud{
  height: 100%;
  width: 100%;
    position: absolute;
    transition: .5s ease;
    top:100;

  left: 20;

}






.text1{
  color: black;
font-size: 13px;
position: absolute;
top: 10%;
right: 100%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
text-align: left;

}







.nav {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 2;
  cursor: pointer;
}



* {
  cursor: url('../image/hand2.png') 25 -35, auto;
}





p{
  font-family: TIMES;
}

h1{
  text-align: center;
  border: 2px pink;
  font-size: 80px;
  margin: 10px;
  padding: 0px;
  top:10px;
  left:400px;
  background-color: Gold;
font-family: TIMES;

}

h2{
  text-align: center;
  font-size: 30px;
font-family: TIMES;
}

h3{
  text-align: center;
  font-size: 15px;
font-family: TIMES;

}
h4{
  text-align: center;
  font-size: 15px;
font-family: TIMES;
}

h5{
  text-align: center;
  font-size: 15px;
font-family: TIMES;
}

.background{
  position: fixed;
left:0;
top: 0px;
width: 1800px;
height: 950px;
z-index: 1;
-webkit-transform-origin: center top 0px;
-ms-transform-origin: center top 0px;
transform-origin: center top 0px;
pointer-events: none;

}


.container {
font-size: 26px;
font-family: arial;
    position: relative;
    top:200px;
    left:20px;
    width: 1000px;
    margin: auto;

    margin-bottom: 50px;
}

blockquote{
  font-family: TIMES;
}




.girl{
  width:400px;
  height:600px;
  border-radius: 50%;
  position:absolute;
  bottom:1px;

  top:0;
  left:800px;
}



.girl2-container{
  width:500px;
  height:700px;
  border-radius: 50%;
  position:absolute;
  bottom:1px;

  top:400px;
  right:760px;
}

.girl2-image {
  border-radius: 50%;
}

.girl3{
    border-radius: 50%;
    width:500px;
    height:500px;

    position: absolute;



    left:800px;

}
.girl4{
    border-radius: 50%;
    width:550px;
    height:500px;
      position: absolute;
      right:700px;
}

.girl2-bubble{
  position: relative;
  top: 0;
  left: 0;
  width: 400px;
  transition: .5s ease;
  height: 300px;
  opacity: 0;
  pointer-events: none;

}
.text2{
  color: black;
  background-color: yellow;
font-size: 15px;
position: absolute;
top:-200px;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
text-align: center;
font-family: TIMES;
}

.bubble-show {
opacity: 1;
transition: .5s ease;
}

.hand{
  width:1100px;
  height:1300px;
  position:absolute;
  bottom:1px;

  top:400px;
  left:320px;
  opacity: 20PX;
}

.hand1{
    position:absolute;
    left:-50px;
    width:1000px;
}


.text {

  margin:auto;
  margin-top: 300px;
  text-align:left;
font-family: TIMES;
  color: black;
  font-size: 16px;
  padding: 16px 32px;

}

.image {
  width: 400px;
}


.pop {
  width:200px;
  height:200px;
  position: absolute;
  visibility: hidden;
}

.p-handmade {
width:100%;
   background-color: blue;
}

.rollover {
  color:red;
}

.p-show {
  visibility: visible;
}
.hand{
   display: none
}

span:hover + .hand{
   display: block;
}
