body{
background-color:#00CED1;

margin:auto;
margin-top: 0px;


font-family:  TIMES;

box-sizing: border-box;
}

.large {
  font-size:25px;
  font-family: TIMES;
}

.btn-menu {

}

.menu {
   display: none;
}

.menu.m-show {
  display: block;
}

.menu a {
  display: block;
  color:#fff;
  text-decoration: none;
}


img{
  margin-left: 1px;
  position: absolute;
 top: 900px;
 right: 0;
 left:1000px;
 width: 800px;

}

.y{
  vertical-align: middle;
  width:200px;
  top:1500px;
right:-100;
}


h1{
  text-align: center;
  border: 2px pink;
  font-size: 100px;
  margin: 10px;
  padding: 1px;
margin-top: 100px;


}

h2{
  text-align: center;
  border: 2px pink;
  font-size: 100px;
  margin: 10px;
  padding: 1px;
margin-top: 100px;

}

h3{  text-align: center;

  font-size: 100px;
  margin: 10px;
  padding: 1px;
margin-top: 100px;

}
h4{
    font-size: 40px;
    text-align: center;
color:#00CED1;
}
h5{
  font-size: 33px;
  text-align: center;
  color:#00CED1;
}
p{
font-size:25px;
text-align: center;
width:400px;
left:300px;
margin:auto;


}

.mix1{
  display: inline-block;
    vertical-align: middle;
  width:500px;
    height:auto;
    right:0;
}
.tape{
  top:40px;
  vertical-align: middle;
  width:500px;

      border-style: none;
  right:0;
}
.c{
  vertical-align: middle;
  width:500px;
top:800px;
      border-style: none;
left:0;
}

.c-mix{
  position: relative;
z-index: 10;
}

.mix2{
top:-80px;
vertical-align: middle;
width:500px;
height: auto;
    border-style: none;
left:0;
}

.k{
top:2800px;
vertical-align: middle;
width:600px;
height: auto;
    border-style: none;
left:0;
}
.hair{
top:1880px;
vertical-align: middle;
width:700px;
height: auto;
    border-style: none;
left:0;
}

.mix3{
  display: inline-block;

width:300px;
  top:2000px;
  margin:auto;
  position: absolute;
right:0;



}
.gift{
  display: inline-block;

width:400px;
  top:2300px;
  margin:auto;
  position: absolute;
left:0;

}

.blood{
  display: inline-block;

width:400px;
  top:2900px;
  margin:auto;
  position: absolute;
right:-100;
}

.h{display: inline-block;

width:300px;
  top:1700px;
  margin:auto;
  position: absolute;
  left:-100;

}
.h2{

width:400px;
  top:250px;


left:0;

}
.ice{
width:300px;
  top:2100px;


left:0;

}
.bat{
  display: inline-block;

  width:200px;
    top:80px;

    position: absolute;
right:0;

}
.plane{


  width:200px;
    top:400px;

    position: absolute;
right:0;




}
.back2{
  background-color: yellow;

}
.back3{
  background-color: purple;
}


a{
border: 20px white;

    color:#00CED1;;

    text-align: left;
font-family:  TIMES;

}


.a1{
border: 20px white;

    color:yellow;
  font-family:  TIMES;
    text-align: left;


}
.text3{
  font-size:25px;
  text-align: center;
  width:400px;
  left:300px;
  margin:auto;

}


* {
  cursor: url('../image/hand2.png'), auto;
}
